<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- 	<node pkg="tf" type="static_transform_publisher"  name="ur31_target_Broadcaster" args="0 0 5 0 0 0 mount_base shoulder_link 100"/> -->
<node pkg="tf" type="static_transform_publisher"  name="ur31_target_Broadcaster" args="3 0 3 0 0 0 world ur3_base_link 10"/>
<!-- <node pkg="tf" type="static_transform_publisher"  name="ur31_target_Broadcaster" args="3 0 3 0 0 0 world mount_base 10"/> -->

</launch>
